<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<title>Cadastro Produto</title>
</head>
<body>

	<form>
		<div>
			<label for="desc">Descrição:</label> <input type="text">

		</div>
		<br>
		<div>
			<label for="vl">Valor:</label> <input type="number">

		</div>
		<br>
		<div>
			<label for="quant">Quantiade:</label> <input type="number">

		</div>
		<br>
		<div class="button">
			<button type="submit">Registrar</button>
		</div>
	</form>

</body>
</html>